{% extends 'User/user_comman.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block 'contain' %}



	<section class=" job-bg page  ad-profile-page">
		<div class="container">
			<div class="breadcrumb-section">
				<ol class="breadcrumb">
					<li><a href="index-2.html">Home</a></li>
					<li>Employee Profile</li>
				</ol>						
				<h2 class="title">My Profile</h2>
			</div><!-- breadcrumb-section -->
			
			<div class="job-profile section">	
				<div class="user-profile">
					<div class="user-images">
						<img src="{{ MEDIA_URL}}{{ user.profile.img.url }}" height="70px" width="70px" alt="User Images" class="img-fluid">
					</div>
					<div class="user">
						<h2>Hello, <a href="#">{{ user.username }}</a></h2>

					</div>

					<div class="favorites-user">
						<div class="my-ads">
							<a href="applied-job.html">29<small>Apply Job</small></a>
						</div>
						<div class="favorites">
							<a href="bookmark.html">18<small>Favorites</small></a>
						</div>
					</div>								
				</div><!-- user-profile -->
						
				<ul class="user-menu">
					<li class="active"><a href="profile.html">Account Info </a></li>
					<li><a href="profile-details.html">Profile Details</a></li>
					<li><a href="bookmark.html">Bookmark</a></li>
					<li><a href="applied-job.html">applied job</a></li>
					<li><a href="delete-account.html">Close account</a></li>
				</ul>
			</div><!-- ad-profile -->

			<div class="resume-content">
				<div class="profile section clearfix">
					<div class="profile-logo">
					    <img class="img-fluid" src="{{ MEDIA_URL }}{{ user.profile.img.url }}" height="70px" width="70px" alt="Image">
					</div>
					<div class="profile-info">
					    <h1>{{ user.username }}</h1>
					    <address>
					        <p>Address: {{ user.profile.city }}, {{ user.profile.states }}, {{ user.profile.country}} <br> Phone: {{ user.profile.contact }} <br> Email:  {{ user.email }}</p>
					    </address>
					</div>					
				</div><!-- profile -->

				<div class="personal-deatils section">
				    <div class="icons">
				        <i class="fa fa-user-secret" aria-hidden="true"></i>
				    </div>  
				    <div class="personal-info">
				    	<h3>Personal Deatils</h3>
				        <ul class="address">
				            <li><h5>Date of Birth </h5> <span>:</span>{{user.profile.birth_date}}</li>
				            <li><h5>Birth Place </h5> <span>:</span>{{ user.profile.country }}</li>
                            <li><h5>Resume </h5> <span>:</span><a href="{{ MEDIA_URL }}{{ user.profile.resume.url }}">{{ user.profile.resume }}</a> </li>
                            {% if user.profile.gender == 'M' %}
				                <li><h5>Sex </h5> <span>:</span>Male</li>
                            {% elif user.profile.gender == 'F' %}
                                <li><h5>Sex </h5> <span>:</span>Female</li>
                            {% endif %}

                            {% if user.profile.exprerience_type == 'E' %}
				                <li><h5>Work Qualification </h5> <span>:</span>Expreience Person</li>
                            {% elif user.profile.exprerience_type == 'F' %}
                                <li><h5>Work Qualification </h5> <span>:</span>Fresher</li>
                            {% endif %}


				        </ul>    	
				    </div>                               
				</div><!-- personal-deatils -->	

                <div class="special-qualification: section">
					<div class="icons">
					    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div>
					<div class="qualification">
						<h3>Speciality:</h3>
						{{ user.profile.skils }}
					</div>
				</div><!-- educational-background -->

			</div><!-- resume-content -->						
		</div><!-- container -->
	</section><!-- ad-profile-page -->

    {% endblock %}