{% extends 'Employer/company_comman.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'content' %}


<!-- Content Body Start -->
        <div class="content-body">

            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3>{{ request.session.company_name }}</h3>
                    </div>
                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->

            <div class="row mbn-50">
                <!--Right Sidebar Start-->
                <div class="col-xlg-12 col-12 mb-50">
                    <div class="row mbn-30">
                        <h3>Create New Employee</h3>
                        <!--Author Information Start-->
                        <div class="col-xlg-12 col-lg-12 col-12 mb-30">
                            <div class="box">
                                <div class="box-body">
                                    <div class="form">
                                        <form method="post" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <div class="row row-10 mbn-20">
                                                <div class="col-sm-12 col-12 mb-20" style="border: 2px solid darkgrey;"> <h4 style="padding-top: 7px;">Personal Details</h4> </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.name | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_last_name | as_crispy_field }} </div>
                                                <div class="col-sm-12 col-12 mb-20"> {{ employee_form.emp_bio | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_birthdate | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_gender | as_crispy_field }} </div>

                                                <div class="col-sm-12 col-12 mb-20" style="border: 2px solid darkgrey;"> <h4 style="padding-top: 7px;">Working Details</h4> </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_dept | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_designation | as_crispy_field }} </div>

                                                <div class="col-sm-12 col-12 mb-20" style="border: 2px solid darkgrey;"> <h4 style="padding-top: 7px;">Experience Details</h4> </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_id_card | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_experience | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_password | as_crispy_field }} </div>

                                                <div class="col-sm-12 col-12 mb-20" style="border: 2px solid darkgrey;"> <h4 style="padding-top: 7px;">Contact Details</h4> </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_email | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_phone | as_crispy_field }} </div>
                                                <div class="col-sm-12 col-12 mb-20"> {{ employee_form.emp_street_name | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_city | as_crispy_field }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ employee_form.emp_states | as_crispy_field }} </div>
                                                <div class="col-sm-12 col-12 mb-20"> {{ employee_form.emp_pincode | as_crispy_field }} </div>

                                                <div class="col-12 mt-10 mb-20">
                                                    <button type="submit" class="button button-primary button-outline"> Submit </button>
                                                    <input type="reset" class="button button-danger button-outline" value="Reset">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Author Information End-->
                    </div>
                </div>
                <!--Right Sidebar End-->

            </div>

        </div><!-- Content Body End -->

{% endblock %}