{% extends 'Employer/company_comman.html' %}
{% load static %}
{% load i18n %}

{% block 'content' %}
        <div class="content-body">

            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3 class="title">Employee <span>/ Profile</span></h3>
                    </div>

                    <h4 class="title">{{ object.name }}</h4>
                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->
            <div class="row mbn-50">
                <!--Right Sidebar Start-->
                <div class="col-xlg-12 col-12 mb-50">
                    <div class="row mbn-30">
                        <h3>Create New Employee</h3>
                        <!--Author Information Start-->
                        <div class="col-xlg-12 col-lg-12 col-12 mb-30">
                            <div class="box">
                                <div class="box-body">
                                    <div class="form">
                                        <form method="post" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            <div class="row row-10 mbn-20">
                                                <div class="col-sm-12 col-12 mb-20" style="border: 2px solid darkgrey;"> <h4 style="padding-top: 7px;">Personal Details</h4> </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ object.name }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ object.emp_last_name  }} </div>
                                                <div class="col-sm-12 col-12 mb-20"> {{ object.emp_bio  }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {% ifnotequal object.emp_birthdate 'f' %}Female{% else %}Male{% endifnotequal %}   </div>


                                                <div class="col-sm-12 col-12 mb-20" style="border: 2px solid darkgrey;"> <h4 style="padding-top: 7px;">Working Details</h4> </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ object.emp_dept  }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ object.emp_designation  }} </div>

                                                <div class="col-sm-12 col-12 mb-20" style="border: 2px solid darkgrey;"> <h4 style="padding-top: 7px;">Experience Details</h4> </div>

                                                <div class="col-sm-6 col-12 mb-20"> {{ object.emp_experience  }} </div>

                                                <div class="col-sm-12 col-12 mb-20" style="border: 2px solid darkgrey;"> <h4 style="padding-top: 7px;">Contact Details</h4> </div>

                                                <div class="col-sm-6 col-12 mb-20"> {{ object.emp_phone  }} </div>
                                                <div class="col-sm-12 col-12 mb-20"> {{ object.emp_street_name  }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ object.emp_city  }} </div>
                                                <div class="col-sm-6 col-12 mb-20"> {{ object.emp_states  }} </div>
                                                <div class="col-sm-12 col-12 mb-20"> {{ object.emp_pincode  }} </div>

                                                <div class="col-12 mt-10 mb-20">
                                                    <button type="submit" class="button button-primary button-outline"> Submit </button>
                                                    <input type="reset" class="button button-danger button-outline" value="Reset">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Author Information End-->
                    </div>
                </div>
                <!--Right Sidebar End-->

            </div>

        </div><!-- Content Body End -->

        </div>
{% endblock %}