{% extends 'Employer/company_comman.html' %}
{% load static %}
{% load i18n %}

{% block 'content' %}
        <div class="content-body">

            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3 class="title">Employee <span>/ View</span></h3>
                    </div>
                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->

            <div class="row">

                <!--Light Start-->
                <div class="col-lg-12 col-12 mb-30">
                    <div class="box">
                        <div class="box-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>company name</th>
                                        <th>Title</th>
                                        <th>Salary</th>
                                        <th>Qualification</th>
                                        <th>Quantity</th>
                                        <th>Deadline</th>
                                        <th>Place</th>
                                        <th> Editable Option </th>
                                    </tr>
                                </thead>
                                {% if object_list %}
                                        {% for job in object_list %}
                                            <tbody>
                                                <tr>

                                                    <td>{{ job.comapny_id }}</td>
                                                    <td>{{ job.job_title }}</td>
                                                    <td>{{ job.job_salary }}</td>
                                                    <td>{{ job.job_qualification }}</td>
                                                    <td>{{ job.job_quentity }}</td>
                                                    <td>{{ job.job_deadline }}</td>
                                                    <td>{{ job.job_city }}</td>
                                                    <td>
                                                        <div class="col-6 mt-5 mb-10">
                                                            <button type="button" class="button button-primary button-outline"><a href='{% url "Company:Edit_Job" pk=job.id %}'> Edit </a></button>
                                                            <button type="button" class="button button-danger button-outline"><a href='{% url "Company:Delete_Job" pk=job.id %}'> Delete </a></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        {% endfor %}

                                    {% endif %}



                            </table>
                        </div>
                    </div>
                </div>
                <!--Light End-->





                                </table>

                            </div>


                        </div>
                    </div>

                </div>

        </div>
{% endblock %}