{% extends 'User/user_comman.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block 'contain' %}
    <section>
    <div id="agileits-sign-in-page" class="sign-in-wrapper" >
        <div class="agileinfo_signin">
        	<section class="job-bg user-page">
		<div class="container  text-center">
			<div class="user-account-content">
				<div class="user-account job-user-account">
					<h2>Forgot Password</h2>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active show" id="find-job">
								<form action="{% url 'account_reset_password' %}" method="post">{% csrf_token %}
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email Address" name="email">
									</div>

									<button type="submit" class="btn">Submit</button>
								</form>
							</div>

						</div>
				</div>
			</div><!-- user-login -->
		</div><!-- container -->
	</section><!-- signup-page -->


        </div>
    </div>
</section>

{% endblock %}