{% extends 'User/user_comman.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block 'contain' %}
    <section>
    <div id="agileits-sign-in-page" class="sign-in-wrapper" >
        <div class="agileinfo_signin">
        	<section class="job-bg user-page">
		<div class="container  text-center">
			<div class="user-account-content">
				<div class="user-account job-user-account">
					<h2>Forgot Password</h2>
						<ul class="nav nav-tabs text-center" role="tablist">
                            {% if token_fail %}
                                <li role="presentation"><a class="active" href="#find-job" aria-controls="find-job" role="tab" data-toggle="tab">{% trans "Bad Token" %}</a></li>
            {% else %}
                                <li role="presentation"><a class="active" href="" aria-controls="find-job" role="tab" data-toggle="tab">{% trans "Change Password" %}</a></li>
            {% endif %}
						</ul>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active show" id="find-job">


            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}

                                <form action="{{ action_url }}" method="post">{% csrf_token %}
									<div class="form-group">
										<input type="password" class="form-control" placeholder="Password" name="password1">
									</div>

									<div class="form-group">
										<input type="password" class="form-control" placeholder="Confirm Password" name="password2">
									</div>
									<button type="submit" class="btn">Submit</button>
								</form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}


							</div>

						</div>
				</div>
			</div><!-- user-login -->
		</div><!-- container -->
	</section><!-- signup-page -->


        </div>
    </div>
</section>

{% endblock %}