{% extends 'User/user_comman.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block 'contain' %}
    <section>
    <div id="agileits-sign-in-page" class="sign-in-wrapper" >
        <div class="agileinfo_signin">
        	<section class="job-bg user-page">
		<div class="container  text-center">
			<div class="user-account-content">
				<div class="user-account job-user-account">

						<ul class="nav nav-tabs text-center" role="tablist">
                            <li>Verified for Mail</li>
						</ul>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active show" id="find-job">
			                    <p style="font-size:15px; margin-top:2%;">We have sent an e-mail to you for verification. Follow the link provided to <span style="color:red">finalize the signup process ...</span></p>
                                <p style="font-size:15px; margin-top:2%;">Please contact us if you do not receive it within a few minutes ...</p>
				            </div>


						</div>
				</div>
			</div><!-- user-login -->
		</div><!-- container -->
	</section><!-- signup-page -->


        </div>
    </div>
</section>

{% endblock %}